@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
}

*,
:before,
:after {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  cursor: url(maplcursor.cur), auto !important;
}
body {
  background-image: linear-gradient(95deg, #96a7da 0%, #7495da 100%);
  /* background-color:#7495DA; */
}
.center {
  margin: auto;
  width: 50%;
}
.intro {
  padding: 25px;
  border-radius: 50px;
  font-family: "GmarketSansBold";
  font-size: 18px;
  background: #6369d9;
  box-shadow: 18px 18px 30px #7175c6, -18px -18px 30px #adb3ff;
  line-height: 160%;
}
.intro a {
  color: #ffffff;
}
.intro a:hover {
  color: #f5c531;
}
.main {
  padding: 40px;
  border-radius: 20px;
  /* background-image: linear-gradient(42deg, #4e54c8 0%, #8f94fb 100%); */
  background-color: #4e54c8;
}
form {
  width: 640px;
  margin: 45px auto;
}
form h1 {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  font-family: "GmarketSansBold";
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
form hr.sep {
  background: #718093;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0 auto 45px;
}
form .emoji {
  font-size: 1.2em;
}
.group {
  position: relative;
  margin: 50px 0;
}
.group a {
  text-align: center;
  margin: auto;
  font-size: 18px;
}
.group a:hover {
  color: #f5c531;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 555px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #c6c6c6;
}
#textarea05 {
  padding-top: 20px;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 10px;
  color: rgb(255, 255, 255);
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 555px;
}
input[type="password"] {
  letter-spacing: 0.3em;
}
label {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}
.bar {
  position: relative;
  display: block;
  width: 640px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #060879;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0;
}
.btn {
  background: #ffffff;
  color: #ffffff;
  font-size: 12px;
  border: none;
  padding: 25px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #4e54c8;
  color: #ffffff;
}
.btn.btn-link:hover {
  background: #4e54c8;
  color: #ffffff;
}
.btn.btn-submit {
  background: #4e54c8;
  color: #ffffff;
}
.btn.btn-submit:hover {
  background: #4e54c8;
  color: #ffffff;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}
.btn-box {
  text-align: center;
  margin: 20% auto;
}

a:link {
  color: #ffffff;
}
