<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion 5기 지원 페이지</title>
    <link rel="stylesheet" href="../../css/emotion.css" type="text/css">
</head>

<body>
    <form action="/emotion" method="post">
        <div class="emotion-form">
            <div class="emotion-logo">
                <img src="../../css/images/emotion.jpg" alt="Emotion Logo" width="30%"></a>
            </div>

            <div class="box">
                <h1 class="title">Emotion 5기 지원</h1>
                <h5 class="precautions">인공지능 개발 동아리 Emotion입니다.<br>5개 문항 모두 필수 작성이며, 글자 수는 400자 내외로 작성해주세요.</h5>
                <h5 class="precautions">포트폴리오는 선택이며 제출 원하시는 분은 ovepje0224@naver.com으로 제출해주세요.
                    <h5 class="precautions">문의: 박정은(부장) 010-2321-4956 또는 ovepje0224@naver.com
                        <br>지원서 제출 마감 : 3월 15일 00시 ~ 3월 17일 20시
                    </h5>
                    <h5 class="precautions">* 인터넷 익스플로러가 아닌 크롬이나 사파리로 접속해주세요.</h5>
                    <ul class="form">
                        <li>
                            <label for="text-input">이름</label>
                            <input type="text" class="text-input" name="name" required="required" id="text-input" placeholder="ex) 박정은">
                        </li>
                        <li>
                            <label for="text-input">학번</label>
                            <input type="number" class="text-input" name="number" required="required" id=text-input placeholder="ex) 10304">
                        </li>
                        <li>
                            <label for="text-input">전화번호</label>
                            <input type="number" class="text-input" required="required" name="phone" id=text-input
                                placeholder="ex) 01023214956">
                        </li>
                        <li>
                            <label for="text-input">이메일</label>
                            <input type="email" class="text-input" required="required" name="email" id="text-input"
                                placeholder="ex) ovepje0224@naver.com">
                        </li>
                        <li>
                            <label for="text-input">자기소개</label><br>
                            <textarea name="textarea01" required="required" id="textarea-input" cols="54" rows="20"
                                placeholder="본인의 자기소개를 자유롭게 작성해주세요."></textarea>
                        </li>
                        <li>
                            <label for="text-input">지원동기</label><br>
                            <textarea name="textarea02" required="required" id="textarea-input" cols="54" rows="20"
                                placeholder="이모션에 지원한 동기를 작성해주세요."></textarea>
                        </li>
                        <li>
                            <label for="text-input">자신의 장단점</label><br>
                            <textarea name="textarea03" required="required" id="textarea-input" cols="54" rows="20"
                                placeholder="자신의 장단점을 작성해주세요."></textarea>
                        </li>
                        <li>
                            <label for="text-input">이루고 싶은 목표</label><br>
                            <textarea name="textarea04" required="required" id="textarea-input" cols="54" rows="20"
                                placeholder="이모션에 들어와서 이루고 싶은 목표에 대해서 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">노력했던 경험</label><br>
                            <textarea name="textarea05" required="required" id="textarea-input" cols="54" rows="20"
                                placeholder="살면서 본인이 무언가를 이루기 위해 노력했던 경험을 작성해주세요."></textarea>
                        </li>
                    <button class="button">제출하기</button>
            </div>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
  <script>
    Swal.fire({
      position: 'top-end',
      type: 'info',
      title: '공지사항',
      text: "동아리 지원에 관한 자세한 사항은 \n 정보보호과 클래스룸 확인 바랍니다",
      showConfirmButton: false,
      timer: 2000
  })
  </script>
</body>

</html>