<!DOCTYPE html>
<html lang="en-KR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>NEFUS 19기 지원서</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../css/nefus.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <form action="/nefus" method="post">
            <div class="main">
                <!--동아리 로고 사진-->
                <div class="center">
                    <img src="../../css/images/nefus.png" alt="Original NEFUS Logo" height="300" width="300">
                </div>
                <br>
                <!--Detail-->
                <div class="intro">
                    <h1>NEFUS 19기 지원서</h1>
                    <h5>지원 가능 기간 : 3월 15일 00시 ~ 3월 17일 20시
                        <br>
                        <br>지원서 작성시 글자수는 공백 포함 기준 입니다.
                        <br>또한 구글 드라이브 작성을 제외한 모든 문항 들은 필수 입니다.
                        <br>이 점 유의하며 작성하시기 바랍니다.
                        <br>
                        <br>모든 문의는
                        <a href="https://facebook.com/sunrinefus">네퓨즈 페이지 메세지</a>로 문의 바랍니다.
                        <br>
                    </h5>
                    <hr class="sep" />
                </div>
                <!--누구세요?-->
                <div class="group">
                    <input type="text" required="required" name="name" id="name" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>이름</label>
                </div>
                <div class="group">
                    <input type="number" required="required" name="number" id="number" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>학번</label>
                </div>
                <div class="group">
                    <input type="number" required="required" name="phone" id="phone" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>전화번호</label>
                </div>
                <div class="group">
                    <input type="email" required="required" name="email" id="email" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>이메일</label>
                </div>
                <!--지원 동기-->
                <div class="group">
                    <textarea name="textarea01" id="textarea01" rows="13" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>NEFUS에 지원을 하게 된 동기에 대해서 서술하시오
                        <br>(300 이내)</label>
                </div>
                <!--자기소개서-->
                <div class="group">
                    <textarea name="textarea02" id="textarea02" rows="13" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>자기소개서를 자유롭게 작성하시오.
                        <br>(750 이내)</label>
                </div>
                <!--자신의 전공 실력과 분야 작성-->
                <div class="group">
                    <textarea name="textarea03" id="textarea03" rows="13" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>자신의 전공 실력 및 분야를 작성하시오. 거짓 기재는 허용 되지 않습니다.
                        <br>( ex) 신입생 특별교육 이수 / 아두이노 / 리눅스 / ... )</label>
                </div>
                <!--배우고 싶은 분야-->
                <div class="group">
                    <textarea name="textarea04" id="textarea04" rows="13" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>네퓨즈에서 진행하고 싶은 프로젝트는?
                        <br>(350자 이내)</label>
                </div>
                <!--경험-->
                <div class="group">
                    <textarea name="textarea05" id="textarea05" rows="13" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>자신에게 요구된 것보다 더 높은 목표를 스스로 세워 시도했던 경험 중 가장 기억에 남는 것은? 목표 달성 과정에서 아쉬웠던 점이나 그 때 느꼈던 자신의 한계는 무엇이고, 이를 극복하기 위해 했던 행동과 생각, 결과에 대해 최대한 구체적으로 작성해 주십시오.
                        <br>(500자 이내)</label>
                </div>

                <!--포토폴리오 제출 링크 입력-->
                <div class="group">
                    <textarea name="textarea06" id="textarea06" rows="6" required="required"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>아래에 포토폴리오를 공유한 구글 드라이브 링크를 기재해주세요.
                        <br>(기재할 링크가 없을 경우 "없음"을 입력해주세요. 필수는 아닙니다.)</label>
                    <br>
                    <a href=/unifox/drive>구글 드라이브 사용법</a>
                </div>
                <!--최종 제출-->
            </div>
            <div class="btn-box">
                <button class="btn btn-submit" type="submit">제출하기</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
    <script>
        Swal.fire({
            position: 'top-end',
            type: 'info',
            title: '공지사항',
            text: "동아리 지원에 관한 자세한 사항은 \n 정보보호과 클래스룸 확인 바랍니다",
            showConfirmButton: false,
            timer: 2000
        })
    </script>
    <!-- partial -->
</body>

</html>